.layout{
    border: 1px solid rebeccapurple;
    width: 250px;
}
.container{
    width: 100%;
}
.button{
    color: rgb(39, 76, 210);
    padding: 5px 10px;
    border: 1px solid black;
    width: 40%;
    border-radius: 4px;
    margin: 15px 5px 5px;
    /* margin-left: 24.3%; */
}
.button:hover{
    color: deepskyblue;
    background-color: black;
    border: 1px solid skyblue;
    
}
.input-text{
    padding: 5px 5px;
    border-radius: 3px;
    width: 35%;
    margin-top: 5px;
}
.error{
    color: red;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
}
form{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
    box-shadow: 15px;
}
.label{
    font-weight: 600;
}
.dua{
    display: flex;
    justify-content: space-evenly;
}
/* .card{
    width: 350px;
    border : 1px solid black;
    height: 40vh
} */
/* input{
    border: none;
    border-bottom: 1px solid black;
} */
.textarea{
    width: 200px;
    height: 90px;
    border-radius: 5px;
}