.layout{
    border: 1px solid rebeccapurple;
    width: 250px;
}
.content{
    display: flex;
    justify-content: center;
}
.button{
    color: aliceblue;
    padding: 5px 10px;
    border: 1px solid black;
    width: 200px;
    border-radius: 4px;
    margin: 5px 5px 5px;
}
.button:hover{
    color: deepskyblue;
    background-color: black;
    border: 1px solid skyblue;
}